.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  /*font-size: 28px;*/ /* Increased text to enable scrolling */
  padding: 0px 10px;
  /*color: #191414;*/
  color: #33FF33;
  text-align: center;
  transition: left 1s;
}

body {
  background-image: url("../imgs/staircase.jpg");
  background-size: cover;
}
