.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  /*font-size: 28px;*/ /* Increased text to enable scrolling */
  padding: 0px 10px;
  /*color: #191414;*/
  color: #33FF33;
  text-align: center;
  transition: left 1s;
}

.education {
  position: fixed;
  top: 5%;
  left: 30%;
  background-color: transparent;
  border-radius: 25px 50px;
  width: 25%;
  height: 35%;
}

.livevent {
  position: fixed;
  top: 5%;
  left: 65%;
  background-color: transparent;
  border-radius: 25px 50px;
  width: 25%;
  height: 35%;
  perspective: 1000px;
}

.htb {
  position: fixed;
  top: 50%;
  left: 30%;
  background-color: transparent;
  border-radius: 25px 50px;
  width: 25%;
  height: 35%;
}

.coffeer {
  position: fixed;
  top: 50%;
  left: 65%;
  background-color: transparent;
  border-radius: 25px 50px;
  width: 25%;
  height: 35%;
}

.main p {
  font-size: 26px;
}

.main img {
  padding: 10%;
  width: 50%;
  height: 75%;
}

.livevent img {
  width: 75%;
}

/*=============================================================================*/

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 25px 50px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.education:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.livevent:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.htb:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.coffeer:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 25px 50px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /*background-color: #191414;*/
  background-color: #1E2125;
  /*background-color: #33334D;*/
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #33334D;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back a {
  color: white;
}


/*=============================================================================*/

body {
  background-image: url("../multimedia/staircase.jpg");
  background-size: cover;
}
