.icon {
  position: relative;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
}

a {
  color: #00FF33;
  text-decoration: none;
}

a:hover {
  color: #F1F1F1;
}

/*.openbtn {
  position: absolute;
  top: 45%;
  margin-left: 5px;
  display: none;
}

.closebtn {
  position: absolute;
  top: 45%;
  margin-right: 5px;
}*/
