.menu {
  height: 90%;
  max-height: 90%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  max-width: 20%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /*background-color: #191414;*/
  background-color: #000000;
  overflow-x: hidden; /* Disable horizontal scroll */
  /*padding-top: 20px;*/
  /*border-radius: 0px 30px 30px 0px;*/
  border-radius: 0px 50px 0px 0px;
}

.logo {
  padding-top: 5%;
  padding-left: 37.5%;
  height: 100px;
  width: 100px;
}

.menu {
  color: #33FF33;
  font-weight: bold;
}

.menu p {
  padding-left: 15%;
  padding-right: 15%;
}

.about {
  color: #33FF33;
  align-items: center;
  text-align: justify;
}

.about p {
  font-weight: bold;
}

/*.calendar {
  background-color: #1F1F2E;
  color: white;
  position: fixed;
  bottom: 175px;
  left: 25px;
  width: 300px;
  height: 275px;
  padding: 10px 25px 10px 25px;
  border-radius: 25px 50px;
  text-align: center;
  border-style: solid;
  border-color: #33FF33;
}

.calendar iframe {
  border-color: #33FF33;
  border-radius: 15px 30px;
  width: 300px;
  height: 250px;
}*/

.stats {
  background-color: #1F1F2E;
  color: white;
  position: fixed;
  bottom: 10%;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 15%;
  max-height: 100px;
  padding: 1%;
  border-radius: 25px 50px;
  text-align: center;
  font-weight: normal;
  /*font-size: 20px;*/
  border-style: solid;
  border-color: #33FF33;
  display: none;
}
