*.html
*.old
*.png
*.svg
*.txt
*.zip
about/cv.pdf_original
about/pandoc-moderncv
Coming Soon/
coming-sssoon-page-master/
fake_badges/
jekyll/
hackthebox/
logos/
multimedia/
portfolio_jackson_template/
space_war/
times-a-wastin-demo/
TLMgram/
