about/cv.pdf_original
about/pandoc-moderncv
*.txt
*.png
*.svg
*.old
*.zip
*.html
Coming Soon/
coming-sssoon-page-master/
fake_badges/
jekyll/
logos/
multimedia/
portfolio_jackson_template/
space_war/
TLMgram/
